# requirements.txt
langchain>=0.1.0
langchain-classic>=0.1.0
langchain-core>=0.1.0
langchain-community>=0.0.10
langchain-groq>=0.0.1
fastembed>=0.2.0
pypdf>=4.0.0
python-dotenv>=1.0.0
fastapi>=0.109.0
uvicorn>=0.27.0
python-multipart>=0.0.9
langchain-google-genai

supabase>=2.3.0
